.alert {
  width: 515px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.38;
  text-align: left;
  color: #5c5c5c;
  margin-left: 10px;
  width: 666px;
  padding: 20px;
  line-height: 1.5;
  color: white;
  border-radius: 3px;
}

.alert--1{
  
  background-color: #e2eed8;
  color: #4b713d;
}
.alert--2{
  background-color: #dcedf6;
  color: #3d708d;
}
.alert--3{
  background-color: #faf0ce;
  color: #876d40;
}
.alert--4{
  background-color: #e7cecd;
  color: #9f4f48;
   }
.closebtn{
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover{
 color: #373a3c;
}