.breadcrumb {
  width: 666px;
  height: 30px;
  border-radius: 3px;
  background-color: #dddddd;
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color:  #777777;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.Data{
  color:#777777;
}
.sidebar-21 {
  width: 1054px;
  height: 790px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-left: 275px;
  margin-top: -857px;
  overflow-x: hidden;
  padding-top: 32px;
  padding-left: 41px;
}
.sidebar-10 {
  width: 1011px;
  height: 790px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-left: 275px;
  margin-top: -857px;
  overflow-x: hidden;
  padding: 20px;
}