*{
	box-sizing: border-box;
}
body{
	background-color: #fafafa;
}

.card {
  border-color: #dddddd;
  width: 342px;
  height: auto;
  background-color: var(--white);
  margin-top: 65px;
  margin-left: 68px;
}
/*.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/
/*.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/
.card-img {
  width: 340px;
  height: 180px;
  background-color: #55595c;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}
.card-body {
  width: 340px;
  height: 274px;
  background-color: var(--white);
   padding: 2px 16px;
  border:1px solid #DCDCDC;
}
.card-title {
  height: 0px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.2;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.card-text {
  width: 298px;
  height: 69px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.btn {
  width: 140px;
  height: 40px;
  border-radius: 4px;
  background-color: #1c7cd5;
  margin-top: -10px;
}
.card-link {
  width: 63px;
  height: 18px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #1c7cd5;
  text-decoration: none;
}
.card-subtitle {
  width: 100px;
  height: 21px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.card--1{
	border-color: #dddddd;
  width: 342px;
  height: auto;
  margin-left: 577px;
margin-top: -855px;
}
.card-body--1 {
  width: 340px;
  height: 61px;
  background-color: var(--white);
}
.body--2 {
  width: 340px;
  height: 162px;
  background-color: var(--white);
}
.card-header{
  width: 342px;
  height: 51px;
  background-color: #dddddd;
  padding: 19px;
  text-align: center;
}

.card--2{
  margin-left: 497px;
  margin-top: -800px;
  max-width: 340px;
    max-height: 474px;
    width: 100%;
   border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.ul .li {
  border: 1px solid #ddd; 
  margin-top: -1px; 
 
  padding: 12px; 
}
.card--2__link + .card--2__link {
    margin-left: 1.25rem;
}

.card--2___subtitle{
  width: 100px;
  height: 21px;
   
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
}
.card--2__img{
  max-height: 180px;
  width: 100%;
height: 180vh;
background-color: #55595c;
}
.card--2__title{
  width: 253px;
  height: 29px;
   
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}

.card--2__text{
  width: 298px;
  height: 69px;
   
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.card--3{
	margin-left: 581px;
	height: 266px;
}
.card-footer {
  width: 342px;
  height: 51px;
  background-color: #dddddd;
   padding: 18px;
  text-align: center;
}
.card--4{
	margin-left: 2px;
}
.list-group-item{
  width: 340px;
  height: 162px;
  background-color: var(--white);
  border: 1px solid #DCDCDC;
}