.flex-container {
  display: flex;
  width: 100%;
}

.flex-container > div {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
.flex-container--rectangle-1 {
  background-color: #373a3c;
}
.flex-container--Rectangle-28 {
  background-color: #55595c;
}
.flex-container--Rectangle-17 {
  background-color: #777777;
}
.flex-container--Rectangle-2 {
  background-color: #818a91;
}
.flex-container--Rectangle-23 {
  background-color: #dddddd;
}
.flex-container--Rectangle-19 {
  background-color: #eceeef;
}
.flex-container--Rectangle-8 {
  background-color:  #1c7cd5;
}
.flex-container--Rectangle-13 {
  background-color: #5cb85c;
}
.flex-container--Rectangle-14 {
  background-color: #56c0e0;
}
.flex-container--Rectangle-15 {
  background-color: #f0ad4e;
}
.flex-container--Rectangle-16 {
  background-color: #d9534f;
}
.flex-container--Rectangle-43 {
  background-color: #dcedf6;
}
.flex-container--Rectangle-44 {
  background-color: #e2eed8;
}
.flex-container--Rectangle-46 {
  background-color: #fcf7e4;
}
.flex-container--Rectangle-47 {
  background-color: #efdfdf;
}