.square {
  display: flex;
  width: 100%;
}

.square > div {
  display: inline-block;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
.color--1 {
  background-color: #373a3c;
}
.color--2 {
  background-color: #55595c;
}
.color--3 {
  background-color: #777777;
}
.color--4 {
  background-color: #818a91;
}
.color--5 {
  background-color: #dddddd;
}
.color--6 {
  background-color: #eceeef;
}
.color--7 {
  background-color:  #1c7cd5;
}
.color--8 {
  background-color: #5cb85c;
}
.color--9 {
  background-color: #56c0e0;
}
.color--10 {
  background-color: #f0ad4e;
}
.color--11 {
  background-color: #d9534f;
}
.color--12 {
  background-color: #dcedf6;
  border-color:#373a3c;
}
.color--13 {
  background-color: #e2eed8;
  border:#373a3c;
}
.color--14 {
  background-color: #fcf7e4;
  border:#373a3c;
}
.color--15 {
  background-color: #efdfdf;
  border:#373a3c;
}