
.path-4 {
  width: 1366px;
  height: 873px;
  background-color: #fafafa;
}
.path {
  width: 250px;
  height: 123px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

.Guide {
  width: 76px;
  height: 19px;
  font-family:Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  text-align: left;
  color: #263238;
  margin-left: 10px;
}
.mahfud {
  width: 88px;
  height: 15px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-align: left;
  color: #9a9a9a;
  margin-left: 10px;
}
.Components {
  width: 86px;
  height: 19px;
  font-family:Roboto;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #263238;
  margin-top: 60px;
  margin-left: 10px;
}
.color {
  width: 33px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3f7ccc;
  padding: 10px
}
.path1 {
  width: 250px;
  height: 669px;
  box-shadow: -5px 0 25px 0 rgba(0, 0, 0, 0.04);
  background-color:  #ffffff;
}

.path3 {
  width: 1036px;
  height: 790px;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-left: 275px;
  margin-top: -857px;
  padding-top: 32px;
  padding-left: 41px;
}
.Typography {
  width: 71px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-left: 10px;
}
.Breadcrumb {
  width: 41px;
  height: 18px;
  font-family:Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-left: 10px;
}
.Alert1 {
  width: 28px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-left: 10px;
}
.Alertlarge {
  width: 28px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-left: 10px;
}
.grid {
  width: 28px;
  height: 18px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  margin-left: 10px;
}