*{
  box-sizing: border-box;
}

.list{
  margin-top: 37px;
  margin-left: 10px;
}
.list-group{
 list-style-type: none;
  padding: 0;
  margin: 0;
}
.list--1{
  width: 252px;
  height: 53px;
  background-color: var(--white);
  font-family: Roboto;
  margin-top: -221px;
  margin-left: 379px;
}
.list--2{
  width: 252px;
  height: 53px;
  background-color: var(--white);
  font-family: Roboto;
  margin-top: -52px;
  margin-left: 710px;
}
.list--3 {
  width: 319.2px;
  height: 53px;
  background-color: var(--white);
  font-family: Roboto;
  margin-top: 243px;
  margin-left: 58px;
}
.list--4 {
  width: 400px;
  height: 149px;
  background-color: var(--white);
  font-family: Roboto;
  margin-top: 155px;
  margin-left: 58px;
}
.list-group-item{
   border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: white;
  padding: 12px;
  width: 252px;
}
.active{
  background-color: #1c7cd5;
  color: white;
}
.succes{
  background-color: #e2eed8;
  color: #3c763d;
}
.primary{
  background-color: #dcedf6;
  color: #31708f;
}
.warning{
  background-color: #fcf7e4;
  color: #8a6d3b;
}
.danger{
  background-color: #efdfdf;
  color: #a94442;
}
.list-group-item1 {
  width: 319.2px;
  height: 53px;
  background-color: var(--white);
}
.badge-secondary{
  color:#fff;
  background-color: #777777;
}
.badge-pill{
  padding-right: -6em;
  padding-left: -6em;
  border-radius: 10rem;
}
.badge{
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  vertical-align: baseline;
}
.list-group-item9{
   border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: white;
  padding: 12px;
  width: 310px;
}
.list--4 {
  width: 400px;
  height: 149px;
  background-color: #1c7cd5;
}
.text {
  width: 226px;
  height: 24px;
  font-family: roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: white;
   padding-top: 18px;
   margin-left: 17px;
}
.ago {
  width: 69px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.25;
  text-align: right;
  color:white;
  margin-left: 304px;
  margin-top: -36px;

}
.title{
  width: 360px;
  height: 46px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: white;
  padding-top: 0px;
   margin-left: 17px;
}
.title2 {
  width: 165px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: white;
  margin-left: 17px;
}
.list--43 {
  width: 400px;
  height: 149px;
  background-color: white;
   border: 1px solid #ddd;
}
.t--1{
  color: black; 
  margin-top: 0px;
}
.a--1{
  color: black;
}
.t--2{
  color: black;
}
.t--3{
  color: black;
}