body {
    font-family: 'Roboto';font-size: 22px;
}

.Typography{
  width:1600px;
  height: 1150px;
  background-color: var(--white);
}
.heading{
  display: flex;
}


.h1 {
  width: 422px;
  height: 48px;
  font-family: HelveticaNeue;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.23;
  text-align: left;
  color: #373a3c;
}
.h2 {
  width: 337px;
  height: 38px;
  font-family: HelveticaNeue;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.22;
  text-align: left;
  color: #373a3c;
}
.h3 {
  width: 295px;
  height: 33px;
  font-family: HelveticaNeue;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.21;
  text-align: left;
  color: #373a3c;
}
.h4 {
  width: 253px;
  height: 28px;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.21;
  text-align: left;
  color: #373a3c;
}
.h5 {
  width: 211px;
  height: 24px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #373a3c;
}
.h6 {
  width: 169px;
  height: 19px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.19;
  text-align: left;
  color: #373a3c;
}
.Fancy{
 display:flex;
}
.text-style-1{
  color: #818a91;
}
.paragraph{
  line-height: 1.5;
  color: #373a3c;
}
.ul--default {
  color: #373a3c;
}
.ul--circle {
  list-style-type: circle;
  color: #373a3c;
  margin-left: 45px;
  margin-top: -22px;
}
 .Twiter{
  width: 186px;
  height: 163px;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #373a3c;
  margin-left: 494px;
  margin-top: -68px;
}
.Twiter-Inc{
  font-weight: bold;
}
.Twiter-Inc1{
  color: #1c7cd5;
}
.display{
  margin-left: 842px;
  margin-top: -1000px;
}
.Display-1 {
  width: 395px;
  height: 111px;
  font-size: 96px;
  line-height: 1.19;
}
.Display-2 {
  width: 362px;
  height: 103px;
  font-size: 88px;
  line-height: 1.19;
}
.Display-3 {
  width: 325px;
  height: 92px;
  font-size: 79px;
  line-height: 1.19;
}
.Display-4 {
  width: 251px;
  height: 71px;
  font-size: 61px;
  line-height: 1.2;
}
.Blackqueto {
 width: 623px;
  height: 58px;
  font-family: HelveticaNeue;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  margin-left: 42px;
  margin-top: 75px;
}
.line {

    border-left: 6px solid silver;
    height: 118px;
    margin-left: 842px;
    margin-top: 154px;

}
.someone {
  width: 290px;
  height: 23px;
  font-family: HelveticaNeue;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  color: #818a91;
  margin-left: 81px;
  margin-top: 30px;
}
.Blackqueto-1{
 width: 623px;
  height: 58px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #373a3c;
  margin-left: -658px;
  margin-top: 139px;
}
.hr{
  width: 21px;
  color: #818a91;
  margin-left:47px; 
  margin-top:-10px;
}
.line-1 {

  border-left: 6px solid silver;
  height: 118px;
  margin-left: 594px;
  margin-top: -109px;

}
.someone-1 {
  width: 290px;
  height: 23px;
  font-family: HelveticaNeue;
  font-size: 20px;
  line-height: 1.2;
  text-align: right;
  color: #818a91;
  margin-left: -363px;
  margin-top: 32px;
}

.hr-1{
  width: 21px;
  color: #F5F5DC;
  margin-left:-58px; 
  margin-top:-10px;
}

