.Typography{
  width:1600px;
  height: 1150px;
  background-color: var(--white);
}



.h1-Bootstrap-heading {
  width: 422px;
  height: 48px;
  font-family: HelveticaNeue;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
}
.Fancy{
 display:flex;
}
.text-style-1{
  color: #818a91;
}
.paragraph{
  line-height: 1.5;
  color: #373a3c;
}
.ul--default {
  color: #373a3c;
}
.ul--circle {
  list-style-type: circle;
  color: #373a3c;
}
 .Twiter{
  width: 186px;
  height: 163px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-left: 367px;
  margin-top: -72px;
}
.Twiter-Inc{
  font-weight: bold;
}
.Twiter-Inc1{
  color: #1c7cd5;
}
.display{
  margin-left: 750px;
  margin-top: -750px;
}
.Display-1 {
  width: 395px;
  height: 111px;
  font-size: 96px;
  line-height: 1.19;
}
.Display-2 {
  width: 362px;
  height: 103px;
  font-size: 88px;
  line-height: 1.19;
}
.Display-3 {
  width: 325px;
  height: 92px;
  font-size: 79px;
  line-height: 1.19;
}
.Display-4 {
  width: 251px;
  height: 71px;
  font-size: 61px;
  line-height: 1.2;
}
.Blackqueto{
 width: 623px;
  height: 58px;
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #373a3c;
  margin-left: 786px;
  margin-top: 75px;
}